[Unit]
Description=Third-I Captive Portal on %I
Wants=network.target
Before=network.target
After=sys-subsystem-net-devices-%i.device

[Service]
ExecStart=/usr/local/sbin/captive-portal --unix /run/captive-portal-%I.sock %I
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
