[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
prod = "./captive-portal.py"
dev = "adev runserver captive-portal.py"
fmt = "yapf -i --recursive ."

[dev-packages]
aiohttp-devtools = "*"
yapf = "*"

[packages]
aiohttp = "*"

[requires]
python_version = "3.8"
